.psiaki-table {
    width: 50%;
    margin: auto;
}

table {
    width: 100%;
}

th {
    background-color: #a5a9ff;
}

tr:nth-child(odd) {
    background-color: beige;
}

tr:nth-child(even) {
    background-color: burlywood;
}