.user-form{
    margin: auto;
    width: 75%;
    /*border: 1px solid #000;*/
}

table, tr, th, td{
    border: 0px;
}

td{
    text-align: right;
    width: 50%;
}

input{
    width: 100%;
}

#form-table{
    border: 0;
    text-align: right;
}


label{
    padding-right: 20px;
}