.bg { /*Kropeczka oznacza klasę */
    background-color: black;
    color: white;
}

body {
    margin: 50px 0 0 0;
}

table, td, th {
    /*Ciągła linia grubości 1 px, kolor #ff9700*/
    border: 1px solid #ff9700;
}

.nav-sec {
    width: 10%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

/*linki z nawigatora*/
.nav-sec a {
    font-size: 25px;
    text-decoration: none;
    color: #F00;
    transition: 2s;
    -webkit-transition: 2s;
}

.nav-sec a:hover {
    font-size: 28px;
    color: #000;
}

#people-table {
    width: 100%;
    border-collapse: collapse;
}

#people-table th {
    background-color: #a5a9ff;
}

.navigator {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #059f06;
}